<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
    <head>
        <%- include('../templates/head', {style: 'home', title: 'Pack Street Development Edition', basic: true}); %>
    </head>
    <body>
        <canvas id="canvas" oncontextmenu="return false;" tabindex="-1"></canvas>
        <p tabindex="0">JavaScript is required for this page to load.</p>
        <!--<script src="vendors/jquery/jquery-3.2.1.min.js"></script>-->
        <!--<script src="vendors/cannonjs/cannon.min.js"></script>-->
        <!--<script src="vendors/mapbox/earcut.min.js"></script>-->
        <script src="vendors/babylonjs/babylon.js"></script>
        <script src="vendors/babylonjs/materialsLibrary/babylon.fireMaterial.min.js"></script>
        <script src="vendors/babylonjs/materialsLibrary/babylon.furMaterial.min.js"></script>
        <script src="vendors/babylonjs/materialsLibrary/babylon.waterMaterial.min.js"></script>
        <script src="vendors/babylonjs/babylon.gui.min.js"></script>
        <script src="resources/js/Overrides.js"></script>
        <script src="resources/js/classes/BoundedNumber.js"></script>
        <script src="resources/js/classes/Tools.js"></script>

        <script src="resources/js/classes/Enum.js"></script><!-- Not really an Enum class, just contains Enums :v -->
        <script src="resources/js/classes/Game.js"></script>
        <script src="resources/js/classes/GameGUI.js"></script>
        <script src="resources/js/classes/ActionData.js"></script>
        <script src="resources/js/classes/AnimData.js"></script>
        <script src="resources/js/classes/Dialogue.js"></script>
        <script src="resources/js/classes/ControllerMovementKey.js"></script>
        <script src="resources/js/classes/Cosmetic.js"></script>

        <script src="resources/js/classes/AbstractEntity.js"></script>
        <script src="resources/js/classes/Entity.js"></script>
        <script src="resources/js/classes/EntityWithStorage.js"></script>
        <script src="resources/js/classes/FurnitureEntity.js"></script>
        <script src="resources/js/classes/LightingEntity.js"></script>
        <script src="resources/js/classes/DoorEntity.js"></script>
        <script src="resources/js/classes/CharacterEntity.js"></script>
        <script src="resources/js/classes/ItemEntity.js"></script>
        <script src="resources/js/classes/EquipmentEntity.js"></script>
        <script src="resources/js/classes/ClothingEntity.js"></script>
        <script src="resources/js/classes/WeaponEntity.js"></script>
        <script src="resources/js/classes/KeyEntity.js"></script>

        <script src="resources/js/classes/InstancedEntity.js"></script>
        <script src="resources/js/classes/InstancedFurnitureEntity.js"></script>
        <script src="resources/js/classes/InstancedItemEntity.js"></script>
        <script src="resources/js/classes/InstancedEquipmentEntity.js"></script>
        <script src="resources/js/classes/InstancedClothingEntity.js"></script>
        <script src="resources/js/classes/InstancedWeaponEntity.js"></script>

        <script src="resources/js/classes/EntityController.js"></script>
        <script src="resources/js/classes/FurnitureController.js"></script>
        <script src="resources/js/classes/LightingController.js"></script>
        <script src="resources/js/classes/DoorController.js"></script>
        <script src="resources/js/classes/CharacterController.js"></script>
        <script src="resources/js/classes/ItemController.js"></script>

        <script src="resources/js/classes/NetworkController.js"></script>
        <script src="resources/js/classes/MessageRouter.js"></script>
        <script src="resources/js/classes/Client.js"></script>

        <script src="resources/js/start.js"></script>
        <script src="resources/js/scenes.js"></script>
    </body>
</html>